@import "sass/details/mixinsetc.scss";

body {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
  }
}

@import "sass/details/page-header.scss";

@import "sass/details/logo.scss";

@import "sass/details/index-main.scss";

@import "sass/details/button.scss";

@import "sass/details/page-footer.scss";

@import "sass/details/socials.scss";

@import "sass/details/photo-main.scss";

@import "sass/details/gallery.scss";

@import "sass/details/form-main.scss";

@import "sass/details/form.scss";

@import "sass/details/wrapper.scss";

@import "sass/details/jsclasses.scss";

@import "sass/details/activity.scss";

@import "sass/details/likes.scss";

@import "sass/details/video.scss";

@import "sass/details/introduce.scss";

@import "sass/details/contacts.scss";

@import "sass/details/impression.scss";

@import "sass/details/checkout.scss";

@import "sass/details/comments.scss";
