.activity {
  transition: 0.2s;
  cursor: pointer;
}

.activity:hover,
.activity:focus {
  background: #669ec0;
  transition: 0.2s;
}

.activity:active {
  background: #5496bd;
  transition: 0.2s;
}

.activity:active .activity__item {
  opacity: 0.3;
  transition: 0.2s;
}
