.form {
  &__item {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  &__submit {
    padding: 0 20px;
    margin-bottom: 38px;
  }
  &__button {
    transition: 0.2s;
    outline: none;
    border: none;
    margin-left: -2px;
    font-size: 21px;
    line-height: 38px;
  }
  &__button:hover,
  &__button:focus {
    background: #669ec0;
  }
  &__button:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__item:last-child {
  border: none;
}
