.socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  justify-content: center;
  &__item {
    font-size: 0;
    display: block;
    width: 46px;
    height: 48px;
    background: $lblue;
    margin: 0 4px;
  }
}
