@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
    font-style: normal;
}

.ptsans {
  font-family: "PTSans", "Arial", sans-serif;
}
