.contacts {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 19px 20px 14px;
}

.contacts__title {
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  margin-bottom: 24px;
}

.contacts__tel,
.contacts__email {
  text-align: left;
}

.contacts__label {
  margin-left: 22px;
  font-size: 14px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: #000000;
    opacity: 0.05;
    bottom: -68px;
    left: 200px;
    z-index: 10;
  }
}

.contacts__input {
  font-family: $pts;
  box-sizing: border-box;
  outline: none;
  border: 4px solid #f2f2f2;
  width: 100%;
  background: #f2f2f2;
  height: 58px;
  flex-grow: 1;
  border: 4px solid #f2f2f2;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 3px 64px 0 18px;
  transition: 0.2s;
  font-size: 18px;
  font-weight: 800;
  &::-webkit-input-placeholder {
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    transition: 0.4s;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 0.2s;
  }
  &:hover,
  &:focus {
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
    transition: 0.2s;
  }
  &:active {
    border: 4px solid #e5e5e5;
    background: transparent;
    transition: 0.2s;
  }
}

.contacts__tel  .contacts__label::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  left: 221px;
  bottom: -48px;
  background: url("../img/icon-phone.svg") no-repeat center;
}

.contacts__email  .contacts__label::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  left: 221px;
  bottom: -48px;
  background: url("../img/icon-mail.svg") no-repeat center;
}

@media (min-width: $tablet-width) {
  .contacts {
    border: none;
    width: 648px;
    margin: 13px auto 7px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: calc(100% - 40px);
      height: 1px;
      top: 32px;
      left: 20px;
      z-index: -10;
      background: #eaeaea;
    }
  }

  .contacts__title {
    display: inline-block;
    width: 400px;
    margin: 0 auto 25px;
    font-size: 21px;
    background: #ffffff;
    opacity: 1;
    position: relative;
    letter-spacing: 0.15px;
  }

  .contacts__tel {
    margin-bottom: 12px;
  }

  .contacts__tel  .contacts__label::before {
    left: 590px;
    bottom: -50px;
  }

  .contacts__email  .contacts__label::before {
    left: 590px;
    bottom: -48px;
  }

  .contacts__tel  .contacts__label::after,
  .contacts__email  .contacts__label::after {
    left: 568px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 23px;
    &::after {
      z-index: 1;
    }
  }

  .contacts__title {
    width: 400px;
    margin-left: 280px;
    margin-bottom: 74px;
    z-index: 5;
  }

  .contacts__tel {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 0;
  }

  .contacts__tel  .contacts__label::after {
   left: 342px;
   bottom: 0;
  }

  .contacts__tel  .contacts__label::before {
    left: 362px;
    bottom: 20px;
  }

  .contacts__label {
    height: 54px;
    box-sizing: border-box;
    padding: 17px 0;
  }

  .contacts__tel .contacts__input {
    width: 320px;
    flex-grow: 0;
    margin: -4px 0 0 0;
  }

  .contacts__tel .contacts__label {
    margin: 0 14px 0 0;
  }

  .contacts__email {
    display: flex;
    align-items: center;
    width: 480px;
  }

  .contacts__email  .contacts__label::after {
    left: 422px;
    bottom: 0;
  }

  .contacts__email  .contacts__label::before {
    left: 442px;
    bottom: 20px;
  }

  .contacts__email .contacts__input {
    width: 316px;
    flex-grow: 0;
    margin: -4px 0 0 0;
  }

  .contacts__email .contacts__label {
    margin: 0 17px 0 0;
  }

  .contacts__hidden {
    display: none;
  }
}
