.form__item {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.form__submit {
    padding: 0 20px;
    margin-bottom: 38px;
}

.form__button {
    transition: 0.2s;
    outline: none;
    border: none;
    margin-left: -2px;
    font-size: 21px;
    line-height: 38px;
}

.form__button:hover,
.form__button:focus {
    background: #669ec0;
}

.form__button:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.form__item:last-child {
  border: none;
}
