.index-main {
  width: 320px;
  margin: 0 auto;
  @include mainfont();
  background: #ffffff;
}

.index-main__intro {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.index-main__main-subtitle {
  display: inline-block;
  vertical-align: center;
  width: 95%;
  @include mainfont();
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: #000000;
  margin-bottom: 13px;
}

.index-main__subtitle {
  display: inline-block;
  vertical-align: center;
  width: 80%;
  @include mainfont();
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}

.index-main__text {
  @include mainfont();
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
}

.index-main__subtext {
  @include mainfont();
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 5px;
}

.index-main__image {
  display: block;
  width: 100%;
  height: 260px;
  font-size: 0;
  object-fit: cover;
}

.index-main__reason {
  padding: 20px 20px;
}

.index-main__number {
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
  display: inline-block;
  vertical-align: center;
  background: inherit;
  position: relative;
}

.index-main__write {
  padding: 30px 20px 0;
  text-align: center;
  margin-bottom: 50px;
}

.index-main__title {
  @include mainfont();
  font-size: 21px;
  font-weight: 800;
  line-height: 26px;
}

.index-main__map {
  height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
}

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .index-main__map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.index-main__reason--first {
  padding: 30px 25px 25px;
  background: $lblue;
  color: $white;
  text-align: center;
}

.index-main__reason--first  .index-main__subtitle {
  margin: 7px auto;
}

.index-main__reason--triangle {
  padding-top: 50px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 37px;
    top: -20px;
    left: 0;
    background: url("../img/bg-triangle.svg") center no-repeat;
    background-size: contain;
  }
}


.index-main__reason--second {
  padding: 0 25px 0 70px;
  margin-bottom: -2px;
  position: relative;
}

.index-main__reason--second .index-main__subtitle {
  margin-bottom: 10px;
  position: relative;
  fill: #81b3d2;
}

.index-main__subimg {
  position: absolute;
}

.index-main__subtitle--house .index-main__subimg {
  left: -48px;
  top: -10px;
}

.index-main__subtitle--gift .index-main__subimg {
  left: -45px;
  top: -12px;
}

.index-main__subtitle--burger .index-main__subimg {
  left: -51px;
  top: -6px;
}

.index-main__reason--third {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 13px 0 12px;
  border-bottom: 1px solid #d6d6d6;
  &:last-child {
    border-bottom: none;
  }
}

.index-main__reason--third  .index-main__subtext {
  padding: 0 15px;
}

.index-main__reason--third  .index-main__subtitle {
  margin-bottom: 8px;
}

.index-main__reason--third  .index-main__subtext {
  margin-top: 3px;
}

.index-main__write {
  margin-top: -2px;
}

.index-main__write  .index-main__title {
  display: inline-block;
  margin-bottom: 5px;
}

.index-main__write  .index-main__text {
  display: inline-block;
  line-height: 24px;
  margin-bottom: 35px;
}

.index-main__write  .button {
  font-size: 21px;
}

.index-main__write  .activity__item {
  background: transparent;
}


@media (min-width: $tablet-width) {
  .index-main {
    margin-top: 50px;
    width: 768px;
  }

  .index-main__reason {
    width: calc(255px - 60px);
    padding: 20px 30px;
  }

  .wrapper--index-content-third .index-main__reason--third {
    width: calc(255px - 100px);
  }

  .index-main__image {
    height: 256px;
  }

  .index-main__reason--bridge {
    order: 1;
  }

  .index-main__map {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat center;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .index-main__map {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .index-main__reason--first {
    box-sizing: border-box;
    width: 255px;
    padding-top: 38px;
    height: 256px;
    &::after {
      display: none;
    }
  }

  .index-main__reason--second {
    padding-top: 122px;
    padding-bottom: 10px;
    text-align: center;
  }

  .index-main__reason--second .index-main__subtitle {
    margin-bottom: 16px;
  }

  .index-main__reason--gift {
    order: 1;
  }

  .index-main__intro {
    width: 540px;
    margin: 0 auto 50px;
  }

  .index-main__main-subtitle {
    font-size: 21px;
  }

  .index-main__subtitle {
    font-size: 21px;
  }

  .index-main__subtext {
    padding: 0 15px;
  }

  .index-main__subtitle--house  .index-main__subimg {
    top: -100px;
    left: 40px;
    width: 75px;
  }

  .index-main__subtitle--burger  .index-main__subimg {
    top: -95px;
    left: 41px;
    width: 75px;
  }

  .index-main__subtitle--gift  .index-main__subimg {
    width: 64px;
    top: -104px;
    left: 45px;
  }

  .index-main__reason--burger  .index-main__subtext {
    padding: 0 20px;
  }

  .index-main__reason--triangle .index-main__subtext {
    margin-bottom: 0;
  }

  .index-main__reason--first .index-main__number,
  .index-main__reason--third .index-main__number {
    margin-bottom: 20px;
  }

  .index-main__reason--third {
    padding-top: 30px;
    border: none;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .index-main__reason--third .index-main__subtext {
    padding: 0 0px;
  }

  .index-main__write {
    margin-top: 25px;
    margin-bottom: 58px;
  }

  .index-main__write  .index-main__title {
    font-size: 30px;
    margin-bottom: 17px;
  }

  .index-main__write  .index-main__text {
    width: 450px;
    margin-bottom: 42px;
  }

  .index-main__write  .button {
    width: 460px;
    padding-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .index-main {
    width: 1200px;
    margin-bottom: 10px;
  }

  .index-main__write  .index-main__title {
    width: 100%;
  }

  .index-main__write  .index-main__text {
    padding: 0 25%;
  }

  .index-main__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  .index-main__reason--first {
    width: 400px;
  }

  .index-main__reason--second {
    width: calc(400px - 60px);
  }

  .wrapper--index-content-third .index-main__reason--third {
    width: calc(400px - 100px);
  }

  .index-main__reason--second {
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .index-main__map {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .index-main__reason--triangle  {
    padding-top: 45px;
  }

  .index-main__reason--triangle  .index-main__subtitle {
    width: 50%;
  }

  .index-main__reason--triangle  .index-main__subtext {
    padding: 0 25px;
  }

  .index-main__subtitle--house  .index-main__subimg {
    top: -98px;
    left: 97px;
    width: 75px;
  }

  .index-main__subtitle--burger  .index-main__subimg {
    top: -96px;
    left: 98px;
    width: 76px;
  }

  .index-main__subtitle--gift  .index-main__subimg {
    width: 64px;
    top: -102px;
    left: 104px;
  }

  .index-main__reason--second {
    margin-bottom: 20px;
  }

  .index-main__reason--bridge {
    padding-top: 47px;
  }

  .index-main__reason--bridge .index-main__subtitle {
    width: 50%;
  }

  .index-main__reason--bridge .index-main__subtext {
    padding: 0 55px;
  }

  .index-main__reason--third {
    padding-bottom: 20px;
  }

  .index-main__reason--third .index-main__subtitle {
    width: 50%;
  }

  .index-main__write {
    margin-bottom: 65px;
  }

  .index-main__write .index-main__text {
    margin-bottom: 48px;
  }
}
