.js-hidden {
  display: none;
}

.js-active {
  display: block;
}

.js-burger-close {
  position: absolute;
  top: -197px;
  right: 18px;
  border: none;
  width: 28px;
  height: 4px;
  background: #ffffff;
  transform: rotate(45deg);
  &::after {
    display: none;
  }
  &::before {
    background: #ffffff;
    width: 28px;
    transform: rotate(-90deg);
    top: 0;
  }
}

.js-popup {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 45px 20px 0;
  background: #ffffff;
  width: 320px;
  position: fixed;
  top: 30%;
  left: calc(50% - 180px);
  box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: $pts;
  text-align: center;
  margin-bottom: 50px;
  z-index: 100;
}

.js-popup__title {
  font-size: 18px;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.js-popup__button {
  background: $lblue;
  transition: 0.2s;
  outline: none;
  border: none;
  margin-left: -2px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: $pts;
  color: #ffffff;
  font-size: 21px;
  line-height: 38px;
  padding: 10px 70px;
  &:hover,
  &:focus {
    background: #669ec0;
  }
  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.js-popup__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  padding: 0 48px;
}

.js-popup--success .js-popup__close {
  margin-top: 25px;
  background: #f2f2f2;
  padding: 20px 0;
}

.js-popup--fail {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  top: 35%;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .js-popup--fail {
    width: 400px;
    left: calc(50% - 200px);
  }

  .js-popup--fail .js-popup__title {
    font-size: 30px;
    padding: 0 80px;
  }

  .js-popup--fail .js-popup__text {
    margin-bottom: 38px;
  }

  .js-popup--fail .js-popup__button {
    width: 272px;
  }

  .js-popup--success {
    width: 640px;
    padding-left: 0;
    padding-right: 0;
    left: calc(50% - 320px);
  }

  .js-popup--success .js-popup__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .js-popup--success .js-popup__close {
    width: 640px;
  }
}
