.likes {
  z-index: 100;
}

.likes__button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  font-size: 0;
  display: inline-block;
  width: 33px;
  height: auto;
  overflow: visible;
}

.likes__number {
  font-size: 14px;
  font-weight: 800;
}

.likes__icon {
  margin-top: -15px;
  margin-left: -10px;
  opacity: 0.3;
  transition: 0.2s;
  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.2s;
  }
  &:active {
    opacity: 1;
    transition: 0.2s;
  }
}

@media (min-width: $tablet-width) {
  .likes {
    position: absolute;
    width: 100px;
    left: 235px;
    bottom: 30px;
  }

  .gallery__item:first-child .likes {
  left: 560px;
  }

  .likes__icon {
    margin-left: 0px;
  }
}

@media (min-width: $desktop-width) {
  .likes {
    left: 307px;
    color: #ffffff;
  }

  .gallery__item:first-child .likes {
  left: 1107px;
  }

  .likes__button {
    width: 40px;
    height: 20px;
    margin-right: -3px;
  }

  .likes__button .likes__icon {
    fill: #ffffff;
    opacity: 1;
    margin: 0;
    &:hover,
    &:focus {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }


}
