.logo {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0;
  height: 56px;
  position: relative;
}

.logo__burger-button {
  cursor: pointer;
  display: none;
  outline: none;
  position: absolute;
  width: 24px;
  height: 5px;
  border: 0;
  border-top: 1px solid #c0d9e8;
  border-bottom: 1px solid #c0d9e8;
  padding: 0 9.5px;
  background: $lblue;
  font-size: 0;
  right: 20px;
  top: calc(50% - 2.5px);
}

.logo__burger-button {
  &::before {
    position: absolute;
    content: "";
    width: 24px;
    top: 8px;
    left: 0;
    height: 4px;
    background: $lblue;
  }
  &::after {
    position: absolute;
    content: "";
    width: 24px;
    top: -9px;
    left: 0;
    height: 4px;
    background: $lblue;
  }
}

.logo__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 56px;
  font-size: 0;
  left: 0;
  top: 0;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 102px;
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 188px;
    left: calc(50% - 94px);
  }
}
