$pts: "PTSans", "Arial", sans-serif;
$white: #ffffff;
$lblue: #81b3d2;
$lightwhite: #333333;
$tablet-width: 768px;
$desktop-width: 1200px;

@mixin bwpts() {
  font-family: $pts;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  line-height: 40px;
}

@mixin mainfont() {
  font-family: $pts;
  text-transform: uppercase;
  text-decoration: none;
}
