.page-footer {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 35px 20px 20px;
  text-align: center;
}

.page-footer__bold {
  @include mainfont();
  font-size: 21px;
  font-weight: 800;
  line-height: 26px;
}

.page-footer__container--intro {
  margin-bottom: 35px;
}

.page-footer__image {
  position: absolute;
  width: 40px;
  right: 69px;
  top: -6px;
  cursor: pointer;
}

.page-footer__container--parent .page-footer__link {
  display: inline-block;
  margin-left: -62px;
  width: 70px;
  position: relative;
  @include mainfont();
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.page-footer__link .page-footer__image {
  position: absolute;
  transition: 0.2s;
  width: 46px;
  height: 43px;
  right: -72px;
  &:hover,
  &:focus {
    fill: #81b3d2;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 11px;
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__container {
    width: 30%;
  }

  .page-footer__container--parent  .page-footer__link {
    margin-left: -50px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
    margin-top: 10px;
    background: #ffffff;
  }

  .page-footer__container {
    width: 31%;
  }

  .page-footer__container--parent  .page-footer__link {
    text-align: right;
    margin-left: 120px
  }
}
