.socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 43px;
  justify-content: center;
}

.socials__item {
  position: relative;
  font-size: 0;
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  background: $lblue;
  margin: 0 4px;
}

.socials__icon {
  position: relative;
  fill: #ffffff;
  transition: 0.2s;
}

.socials__item--twitter .socials__icon {
  width: 18px;
}

.socials__item--facebook .socials__icon {
  width: 9px;
}

.socials__item--youtube .socials__icon {
  width: 20px;
}

.socials__item:active .socials__icon {
  fill-opacity: 0.3;
  transition: 0.2s;
}

@media (min-width: $tablet-width) {
  .socials {
    margin-top: -10px;
  }
}
