.wrapper--index-content-first {
  margin-bottom: 20px;
}

.wrapper--index-content-second {
  margin-bottom: 38px;
}

.wrapper--index-content-third {
  background: #eeeeee;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 100%;
    display: flex;
  }
  .wrapper .container {
    width: 513px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper .container {
    width: 800.6px;
  }
}
